attrs==23.2.0 ; python_version >= "3.11" and python_version < "3.13"
brotli==1.1.0 ; python_version >= "3.11" and python_version < "3.13" and implementation_name == "cpython"
brotlicffi==1.1.0.0 ; python_version >= "3.11" and python_version < "3.13" and implementation_name != "cpython"
certifi==2024.6.2 ; python_version >= "3.11" and python_version < "3.13"
cffi==1.16.0 ; python_version >= "3.11" and python_version < "3.13" and implementation_name != "cpython"
charset-normalizer==3.3.2 ; python_version >= "3.11" and python_version < "3.13"
cmd2-ext-test==2.0.0 ; python_version >= "3.11" and python_version < "3.13"
cmd2==2.4.3 ; python_version >= "3.11" and python_version < "3.13"
idna==3.7 ; python_version >= "3.11" and python_version < "3.13"
mutagen==1.47.0 ; python_version >= "3.11" and python_version < "3.13"
pycparser==2.22 ; python_version >= "3.11" and python_version < "3.13" and implementation_name != "cpython"
pycryptodomex==3.20.0 ; python_version >= "3.11" and python_version < "3.13"
pyee==11.1.0 ; python_version >= "3.11" and python_version < "3.13"
pyperclip==1.9.0 ; python_version >= "3.11" and python_version < "3.13"
pyreadline3==3.4.1 ; python_version >= "3.11" and python_version < "3.13" and sys_platform == "win32"
python-ffmpeg==2.0.12 ; python_version >= "3.11" and python_version < "3.13"
requests==2.32.3 ; python_version >= "3.11" and python_version < "3.13"
typing-extensions==4.12.2 ; python_version >= "3.11" and python_version < "3.13"
urllib3==2.2.2 ; python_version >= "3.11" and python_version < "3.13"
wcwidth==0.2.13 ; python_version >= "3.11" and python_version < "3.13"
websockets==12.0 ; python_version >= "3.11" and python_version < "3.13"
yt-dlp==2024.5.27 ; python_version >= "3.11" and python_version < "3.13"
